*{
    box-sizing: border-box;
}

article{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.div{
    border: 5px solid black;
}

